<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div id="features" class="container mt-8 mb-6 text-center">
<h2>Meetcce Funciones</h2>
<br>
<p style="font-size: 1.3em;">Videoconferencias y mensajería simplificadas a través de cualquier dispositivo</p>
<br>
<br>
  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-2x"></i></div>
        <h4 class="mt-4"><%= t("features.rooms") %></h4>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.recordings") %></h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-pencil-alt fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.designs") %></h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-door-open fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.authentication") %></h4>
    </div>
  </div>
</div>





<div id="meetcce_you" class="container mt-8 mb-6 text-center">

<h2>Meetcce para ti</h2>
  <div class="row feature-stamp">
    <div class="col-lg-6 col-md-12">
      <div class="feature-item">
        <div class="stamp bg-primary"></div>
	<div><img src="https://teleconsul.net/img/Logo_Mesa%20de%20trabajo%201.png"/></div>
<p style="font-size: 1.3em;">
Meetcce es para ti. Estamos aquí para ayudarte a conectarse, comunicarse y expresar sus ideas para que puedan hacer más juntos.</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
	<img src="https://camarahelp.com/wp-content/uploads/2020/12/8426-Converted-1.png" style="
    width: 103%;
">
	</div>
</div>

<div id="features" class="container mt-8 mb-6 text-center">

  <h2 class="mb-6"><%= t("Meetcce") %> <%= t("features.title") %></h2>
  <p style="font-size: 1.3em;">Los usuarios que cambiaron a Meetcce han informado un aumento de la calidad de llamada,  rendimiento y seguridad .</p>
  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <canvas id="graph1" style="max-width: 500px;"></canvas>
 <h4 class="mt-4">El 91% notó un aumento en la usabilidad de video</h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <canvas id="graph2" style="max-width: 500px;"></canvas>
	<h4 class="mt-4">El 87% informa una mayor comodidad en el uso de meetings</h4>
    </div>

    <div class="col-lg-3 col-md-6">
      <canvas id="graph3" style="max-width: 500px;"></canvas>
<h4 class="mt-4">El 95% informa un aumento en el rendimiento</h4>

    </div>
    <div class="col-lg-3 col-md-6">
      <canvas id="graph4" style="max-width: 500px;"></canvas>
<h4 class="mt-4">El 93% informa una mejor adapción al funcinamiento </h4>

    </div>
    </div>
  </div>
</div>
